@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #2D25A0;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 100%;
    margin-top: 20px;
    
}
.nav-icon{
    box-sizing: border-box;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    display: none;
    
}
nav ul{
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: 65px;
}
nav ul li{
    padding: 10px 20px;
    font-size: 14px;

}
nav ul li:hover{
    background-color: rgb(226, 76, 108);
    border-radius: 2px;
    
}
nav ul li a{
    color: white;
}
.login-container{
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: 100px;
}
.login-container a{
    text-decoration: none;

}
.login{
    width: 100px;
    height: 35px;
    box-sizing: border-box;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(226, 76, 108);
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 /0.2);

}
.login-container img{
    width: 20px;
    margin-right: 5px;
    margin-left: 0;
} 

/* -------------------- Top Banner --------------- */

.top-banner{
    display: flex; 
    max-width: 100%;
    height: 530px;
    margin: 0 120px;
    justify-content: space-between;
  
    
}
.banner-heading{
    max-width: 485px;
    margin-top: 25px;
}
.banner-heading h1{
    font-size: 54px;
    font-weight: 700;
    color: white;
    margin-bottom: 0;
}
.banner-heading p{
    width: 150px;
    height: 35px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    background-color: rgb(226, 76, 108);
    color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 /0.2);
}
.banner-heading i{
    padding-left: 8px;
}
.banner-image{
    max-width: 556px;
    height: 438px;
}
.banner-image img{
    max-width: 100%;
    display: block;
}

/*-------------Player Section---------------*/

.player-section{
    background-color: white;
    padding-top: 60px;
}
.player-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: center;
    

}

.player{
    padding: 0 15px;
    width: 280px;
    box-shadow: 0 3px 10px rgb(0 0 0 /0.2);
    
}
.player img{
    padding-top: 15px;
    width: 100%;
}
.player h1{

    margin-top: 16px;
    margin-bottom: 16px;
}
.player p{
    margin-top: 0;

    color: #6C6C6C;
}


/*---------------------Highlights Section---------------*/

.highlights-section{
    background-color: white;
    padding-top: 165px;

}

.highlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.highlights-caption{
    margin-left: 185px;
    padding-left: 0;
}
.highlights-caption h1{
    font-size: 42px;
    color: black;
    margin-bottom: 0;
}
.highlights-caption p{
    color: #6c6c6c;
    margin-right: 125px;
    font-size: 16px;
}
.watch-btn p{
    width: 150px;
    height: 35px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    background-color: rgb(226, 76, 108);
    color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 /0.2);
}
.highlights img{
    width: 550px;
    box-shadow: 0 3px 10px rgb(0 0 0 /0.2);
}


/* ----------End Section ---------*/
.end-section{
    background-color: white;
    padding: 160px 0 60px 0;
    align-items: center;
    justify-content: center;
}
.end-container{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.logo img{
    width: 470px;
}
.social-link{
    margin-top: 15px;
}
a img{
    width: 32px;
    margin: 0 5px;
}
footer p{
    font-size: 16px;
    font-weight: 400;
}


/* --------------------------------------------------------------------------------------------------
-------------------------                      Media-Query             ------------------------------
---------------------------------------------------------------------------------------------------- */

@media (max-width: 700px){
   
    .navbar{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: unset;
    }

    .nav-icon{
        display: block;
        width: 130px;
        padding-top: 30px;
        padding-left: 30px;
        font-size: 18px;
    }
    
    .navbar ul{
        display:block;
        height: auto;
        margin-left: 0;
        padding-left: 0;
    }
    .navbar ul li{
        text-align: center;
    }
    .login-container{
        position: fixed;
        right: 30px;
        margin-right:0 ;
    }
    /* ---------------------------------------- Top Banner ------------------------------------------ */
    .top-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
        height: auto;
    
    }
    .banner-heading{
        width: 100%;

    }
    .banner-heading h1{
        font-size: 36px;
        width: 100%;
    }
    .banner-heading p{
        padding-left: 10px;
        padding-right: 10px;
    }
    .banner-img{
        margin-top: 40px;
        width: 100%;
        
    }
    .banner-img img{
        max-width: 100%;
        height: auto;
    }

    /* --------------------------------------Player Section----------------------------------- */

    .player-section{
        background-color: white;
        padding-top: 50px;
       
    }

    .player-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: auto;
        padding-left: 20px;
        padding-right: 20px;  
    }

    .player{
        width: auto;
    }

    /*---------------------Highlights Section---------------*/

    .highlights-section{
        width: 100%;
        padding-top: 50px;
    }
    .highlights{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     
    }
    .highlights-caption{
        margin-left: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    .highlights-caption h1{
        font-size: 30px;
        color: black;
      
    }
    .highlights-caption p{
        color: #6c6c6c;
        font-size: 16px;
        margin-right: 0;
        padding: auto;
    }
   
    .watch-btn p{
        color: white;
        padding-left: 30px;
        padding-right: 30px;
    }

    }
    .highlights-image{
        padding: 20px;
    }
    .highlights-image img{
        max-width: 100%;
        
    }

    /* ---------------------------------End Section ------------------------------*/

    .end-section{
        padding-top: 20px;
    }
    .logo{
        width: 100%;
        text-align: center;
    }
    .logo img{
        max-width: 70%;
    }
}


